---
import "../styles/global.css";
import "@fontsource/poppins";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <Head title={title} />
  <body class="max-w-7xl w-11/12 mx-auto">
    <Header />
    <slot />
  </body>
</html>
